<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Uploader</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="main">
        <p class="">Land Your Dream Job Faster: Upload Your <br>
            Resume & Get Matched Instantly!</p>
    </div>
    <div class="submain">
        <p>Stop wasting time filling out endless applications. Upload your resume and our powerful <br> matching engine
            will connect you with jobs that fit your skills and experience.</p>
    </div>
    <div class="upload">
        <p>Upload Your Resume Now!</p>
    </div>
    <div class="btn">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="fileInput" name="resume" accept=".pdf,.doc,.docx" class="hidden" />
            <button type="button" id="uploadButton"><i class="fab fa-telegram-plane"></i>Upload the file here</button>
        </form>
    </div>

    <div class="container">
        <div class="card">
            <div class="card1">
                {%load static%}
                <img src="{% static 'microsoft.jpg' %}" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Senior Product Manager</h5>
                    <div class="additional">
                        <p>100% Remote work</p>
                        <p>Full Time</p>
                    </div>
                    <div class="additional">
                        <p>117,200 - 250,200 USD Annually</p>
                    </div>
                    <div class="location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Bangalore</span>
                    </div>
                    <p class="card-text">Engage with customers to understand data management challenges and define
                        product strategy. Drive business impact through market research and competitive analysis. Define
                        feature sets and collaborate with teams to improve product development.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card2">
                {%load static%}
                <img src="{% static 'microsoft.jpg' %}" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Senior Product Manager</h5>
                    <div class="additional">
                        <p>100% Remote work</p>
                        <p>Full Time</p>
                    </div>
                    <div class="additional">
                        <p>117,200 - 250,200 USD Annually</p>
                    </div>
                    <div class="location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Bangalore</span>
                    </div>
                    <p class="card-text">Engage with customers to understand data management challenges and define
                        product strategy. Drive business impact through market research and competitive analysis. Define
                        feature sets and collaborate with teams to improve product development.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card3">
                {%load static%}
                <img src="{% static 'microsoft.jpg' %}" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Senior Product Manager</h5>
                    <div class="additional">
                        <p>100% Remote work</p>
                        <p>Full Time</p>
                    </div>
                    <div class="additional">
                        <p>117,200 - 250,200 USD Annually</p>
                    </div>
                    <div class="location">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Bangalore</span>
                    </div>
                    <p class="card-text">Engage with customers to understand data management challenges and define
                        product strategy. Drive business impact through market research and competitive analysis. Define
                        feature sets and collaborate with teams to improve product development.</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('uploadButton').addEventListener('click', function () {
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function () {
            if (this.files.length > 0) {
                document.querySelector('form').submit();
            }
        });
    </script>
</body>

</html>